@charset "UTF-8";
.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 4rem;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  display: inline-block;
  background-image: linear-gradient(to right, #9FA8DA, #3949AB);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all 1s; }
  .heading-1--light {
    color: #f9f7f6; }
  .heading-1--dark {
    color: #54483A; }
  .heading-1--animation:hover {
    transform: skewY(3deg) skewX(1deg) scale(1.05);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--dark {
    color: #54483A; }

.heading-3 {
  font-size: 1.6rem; }
  .heading-3--light {
    color: #f9f7f6; }
  .heading-3--dark {
    color: #54483A; }

.heading-4 {
  font-size: 1.6rem;
  font-weight: 300; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #54483A;
    font-weight: 600;
    font-size: 1.6rem; }
  .heading-4--danger {
    color: orangered;
    font-weight: 300;
    font-size: 1.6rem; }

.mb-xs {
  margin-bottom: 1rem; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.my-xs {
  margin: 1rem 0; }

.my-sm {
  margin: 2rem 0; }

.my-md {
  margin: 3rem 0; }

.my-lg {
  margin: 4rem 0; }

.my-hg {
  margin: 8rem 0; }

.ma-xs {
  margin: 1rem; }

.ma-sm {
  margin: 2rem; }

.ma-md {
  margin: 3rem; }

.ma-lg {
  margin: 4rem; }

.ma-hg {
  margin: 8rem; }

.mx-xs {
  margin: 0 1rem; }

.label-danger {
  color: #fff;
  fill: #fff;
  background-color: orangered;
  border-radius: 0; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: center; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6;
  background-color: #EEEEEE; }

.container {
  display: grid;
  grid-template-columns: [start-sidebar-column] 6rem [end-sidebar-column start-content] 1fr [end-content];
  grid-template-rows: repeat(10, min-content); }
  @media only screen and (max-width: 50em) {
    .container {
      grid-template-columns: [start-content] 1fr [end-content];
      grid-template-rows: [start-sidebar-row] 6rem [start-end-row] repeat(10, min-content); } }

.btn {
  background-color: #5C6BC0;
  text-decoration: none;
  color: #fff;
  border: none;
  border-radius: 0;
  padding: 1.8rem 3rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .2s; }
  .btn--white {
    background: #fff;
    color: #000; }
    .btn--white:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      background: #ebebeb;
      transition: all .4s; }
      .btn--white:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0; }
    .btn--white::after {
      background-color: #fff; }
  .btn--primary {
    background: #3949AB;
    color: #fff; }
    .btn--primary:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      background: #2f3c8c;
      transition: all .4s; }
      .btn--primary:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0; }
  .btn--danger {
    background: orangered;
    color: #fff; }
    .btn--danger:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      background: #d63a00;
      transition: all .4s; }
      .btn--danger:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0; }
  .btn:focus {
    outline: none; }

.btn-rounded {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2rem;
  display: inline-block;
  text-align: center;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  margin: 0.75rem 1rem;
  border: none;
  cursor: pointer;
  transition: all .4s; }
  .btn-rounded--white {
    background: #fff;
    color: #000; }
    .btn-rounded--white:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      background: #ebebeb;
      transition: all .4s; }
      .btn-rounded--white:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0; }
    .btn-rounded--white::after {
      background-color: #fff; }
  .btn-rounded--primary {
    background: #3949AB;
    color: #fff; }
    .btn-rounded--primary:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      background: #2f3c8c;
      transition: all .4s; }
      .btn-rounded--primary:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0; }
  .btn-rounded--green {
    background: #43A047;
    color: #fff; }
    .btn-rounded--green:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      background: #37833a;
      transition: all .4s; }
      .btn-rounded--green:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0; }
  .btn-rounded--danger {
    background: orangered;
    color: #fff; }
    .btn-rounded--danger:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      background: #d63a00;
      transition: all .4s; }
      .btn-rounded--danger:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0; }
  .btn-rounded--full {
    width: 90%; }
  .btn-rounded:active, .btn-rounded:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.card {
  display: grid;
  grid-template-rows: max-content max-content min-content;
  align-content: space-between;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1); }
  .card__img-container {
    position: relative; }
  .card__img-container:hover:before {
    content: '';
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5; }
  .card__img-container:before {
    content: '';
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    transition: all .4s; }
  .card__img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block; }
  .card__text {
    max-height: 7rem;
    overflow: scroll;
    /* Добавляем полосы прокрутки */ }

.card-custom {
  perspective: 200rem;
  -moz-perspective: 200rem;
  height: 40rem;
  position: relative; }
  .card-custom__side {
    height: 40rem;
    transition: all 3s;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1); }
    .card-custom__side--front {
      background: #F5F5F5; }
    .card-custom__side--back {
      transform: rotateY(180deg); }
      .card-custom__side--back-1 {
        background-image: linear-gradient(to bottom right, #5C6BC0, orangered); }
      .card-custom__side--back-2 {
        background-image: linear-gradient(to bottom right, #000, #fff); }
      .card-custom__side--back-3 {
        background-image: linear-gradient(to bottom right, #000, #5C6BC0); }
  .card-custom:hover .card-custom__side--front {
    transform: rotateY(180deg); }
  .card-custom:hover .card-custom__side--back {
    transform: rotateY(0); }
  .card-custom__picture {
    height: 20rem;
    background-size: cover;
    background-blend-mode: soft-light;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    margin-bottom: 1.5rem; }
    .card-custom__picture--1 {
      background-image: linear-gradient(to right, rgba(255, 69, 0, 0.8), rgba(92, 107, 192, 0.8)), url(../image/nhl16.jpg); }
    .card-custom__picture--2 {
      background-image: linear-gradient(to right, #fff, #000), url(../image/nhl17.jpg); }
    .card-custom__picture--3 {
      background-image: linear-gradient(to right, #000, #5C6BC0), url(../image/nhl19.jpeg); }
  .card-custom__details {
    font-size: 2rem;
    padding: 0 3rem; }
    .card-custom__details ul {
      list-style: none;
      width: 80%;
      margin: 0 auto; }
      .card-custom__details ul li {
        text-align: center;
        padding: 1rem 1.5rem; }
        .card-custom__details ul li:not(:last-child) {
          border-bottom: 1px solid #BDBDBD; }
  .card-custom__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff; }
  .card-custom__box-name {
    font-size: 2rem; }
  .card-custom__box-price {
    font-size: 7rem;
    font-weight: 100; }
  .card-custom__heading {
    position: absolute;
    top: 12rem;
    right: 2rem;
    width: 60%;
    color: #fff;
    text-align: right; }
    .card-custom__heading-span {
      padding: 1rem 1.5rem;
      font-size: 2rem;
      font-weight: 100;
      text-transform: uppercase;
      border-radius: .5rem;
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone; }
      .card-custom__heading-span--1 {
        background-image: linear-gradient(to right, rgba(255, 69, 0, 0.7), rgba(92, 107, 192, 0.7)); }
      .card-custom__heading-span--2 {
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(0, 0, 0, 0.7)); }
      .card-custom__heading-span--3 {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(92, 107, 192, 0.7)); }

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; }
  .navigation__toggler {
    width: 6rem;
    height: 6rem;
    position: relative;
    z-index: 101;
    opacity: 0; }
    .navigation__toggler:checked + .navigation__hamburger > div {
      background: #aaa;
      transform: rotate(225deg); }
      .navigation__toggler:checked + .navigation__hamburger > div:before, .navigation__toggler:checked + .navigation__hamburger > div:after {
        transform: rotate(90deg);
        top: 0; }
    .navigation__toggler:checked:hover + .navigation__hamburger > div {
      transform: rotate(135deg); }
    .navigation__toggler:checked ~ .navigation__menu > div {
      transform: scale(1); }
  .navigation__hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 6rem;
    height: 6rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center; }
    .navigation__hamburger > div {
      position: relative;
      width: 100%;
      height: 2px;
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.4s ease; }
      .navigation__hamburger > div::before, .navigation__hamburger > div::after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -10px;
        width: 100%;
        height: 2px;
        background: inherit; }
      .navigation__hamburger > div::after {
        top: 10px; }
  .navigation__menu > div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    background: rgba(0, 0, 0, 0.8);
    opacity: 1;
    transition: all 0.4s ease; }
    .navigation__menu > div > div > ul > li {
      list-style: none;
      color: #fff;
      padding: 1rem;
      font-size: 2.2rem; }
      .navigation__menu > div > div > ul > li > a {
        text-decoration: none;
        color: inherit;
        transition: color 0.4s ease; }
        .navigation__menu > div > div > ul > li > a:hover {
          color: #9FA8DA; }

.section-header {
  margin-bottom: 10rem; }

.section-offer {
  text-align: center;
  height: 60rem; }

.section-reviews {
  margin: 0 auto;
  text-align: center;
  position: relative;
  margin-bottom: 10rem; }

.section-main-post {
  background-color: #424242; }

.news {
  text-align: center; }
  .news__container {
    padding: 0 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem; }
    @media only screen and (max-width: 62.5em) {
      .news__container {
        grid-template-columns: repeat(2, 1fr); } }
    @media only screen and (max-width: 37.5em) {
      .news__container {
        grid-template-columns: repeat(1, 1fr); } }

.main-post__container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 3rem;
  padding: 0 3rem; }
  @media only screen and (max-width: 50em) {
    .main-post__container {
      grid-template-rows: min-content min-content; } }

.main-post__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; }

.main-post__img-container {
  grid-column: 1/span 4;
  filter: brightness(70%);
  transition: all .2s; }
  .main-post__img-container:hover {
    filter: brightness(50%); }

.main-post__text {
  padding: 1rem;
  display: grid;
  align-items: stretch;
  grid-column: 5/span 4; }

@media only screen and (max-width: 50em) {
  .main-post__img {
    grid-column: 1/-1; }
  .main-post__text {
    display: grid;
    align-items: stretch;
    grid-column: 1/-1; } }

.main-post .btn {
  align-self: center;
  justify-self: start; }

.offers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  margin: 0 5rem; }

.review {
  width: 75%;
  margin: 5rem auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.5);
  padding: 3rem;
  padding: 6rem;
  min-height: 28rem;
  transform: skewX(12deg); }
  .review__shape {
    height: 15rem;
    width: 15rem;
    transform: translateX(-1rem) skewX(-12deg);
    float: left;
    clear: both;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    position: relative; }
  .review:hover .review__name {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .review:hover .review__image {
    filter: brightness(50%);
    transform: scale(1.1); }
  .review__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    backface-visibility: hidden;
    transition: all 1s; }
  .review__name {
    text-transform: uppercase;
    font-size: 2rem;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
    opacity: 0;
    transition: all 1s;
    backface-visibility: hidden; }
  .review__text {
    font-size: 2rem;
    transform: skewX(-12deg);
    color: #000; }

.reviews-bg {
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%; }
  .reviews-bg__container {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)), url(../image/hockey-bg9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%; }

.claim {
  background-image: linear-gradient(115deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 45%, rgba(255, 255, 255, 0.9) 45%), url(../image/hockey-bg6.jpg);
  height: 60rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }

.claim-form {
  grid-column: 2/ span 1;
  padding: 5rem; }

.sidebar {
  background: black;
  position: sticky;
  top: 0;
  grid-row: 1/-1;
  z-index: 99; }

.header {
  height: 70vh;
  background-image: linear-gradient(rgba(16, 29, 44, 0.8), rgba(92, 107, 192, 0.7)), url(../image/hockey4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-content: center;
  align-items: center; }
  @media only screen and (max-width: 50em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); } }
  .header__text {
    grid-column: 2/ span 3;
    color: #fff; }
  @media only screen and (max-width: 50em) {
    .header {
      height: 80vh; }
      .header__text {
        grid-column: 2/ span 5;
        color: #fff; } }

.footer {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, min-content); }
  .footer__logo {
    grid-column: 4/ span 2;
    grid-row: 1/2; }
  .footer__main--1 {
    grid-column: 2/ span 2;
    grid-row: 2/3;
    background: indianred; }
  .footer__main--2 {
    grid-column: 2/ span 2;
    grid-row: 2/3;
    background: yellow; }
  .footer__main--3 {
    grid-column: 4/ span 1;
    grid-row: 2/3;
    background: teal; }
  .footer__main--4 {
    grid-column: 5/ span 1;
    grid-row: 2/3;
    background: tan; }
  .footer__main--5 {
    grid-column: 6/ span 1;
    grid-row: 2/3;
    background: aquamarine; }
  .footer__main--6 {
    grid-column: 3/ span 3;
    grid-row: 3/4;
    background: wheat; }

.logo__icon {
  width: 15rem;
  height: 15rem;
  fill: aqua; }

.form {
  height: 100%; }
  .form__group {
    position: relative;
    margin-bottom: 4rem; }
  .form__input {
    width: 90%;
    display: block;
    padding: 1rem 1.6rem;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    transition: all .5s; }
    .form__input:focus {
      border-bottom: 2px solid #5C6BC0;
      outline: none; }
    .form__input:focus:invalid {
      border-bottom: 2px solid orangered; }
    .form__input::-webkit-input-placeholder {
      color: #000; }
  .form__label {
    transition: all .5s;
    font-size: 2rem;
    position: absolute;
    top: 0.1rem;
    left: 1.4rem; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    visibility: hidden; }
  .form__input:not(:placeholder-shown) + .form__label {
    transform: translateY(-3rem);
    opacity: 1;
    color: #5C6BC0; }
  .form__checkbox {
    cursor: pointer;
    display: none; }
  .form__checkbox-label {
    position: relative;
    font-size: 2rem;
    margin: 1rem 3rem;
    display: inline-block; }
    .form__checkbox-label:after {
      content: "";
      position: absolute;
      top: 4px;
      left: -3rem;
      width: 2rem;
      height: 2rem;
      border: 1px solid #000;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f9f7f6;
      color: black;
      transition: all 1s; }
  .form__checkbox:checked + .form__checkbox-label:after {
    content: "\2713";
    position: absolute;
    background-color: #9FA8DA;
    color: #fff;
    transition: all .3s; }
  .form__select {
    width: 90%;
    border: 1px solid black;
    border-radius: 15px;
    position: relative;
    overflow: hidden; }
    .form__select > select {
      width: 100%;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      padding: 1rem 1.6rem;
      background-color: transparent;
      border: none; }
      .form__select > select:focus {
        outline: none; }
    .form__select:after {
      content: "\25BC";
      position: absolute;
      top: 50%;
      right: -2px;
      transform: translateY(-50%);
      padding: 2rem;
      background-color: #E0E0E0;
      pointer-events: none;
      cursor: pointer; }
