@charset "UTF-8";
.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 4rem;
  text-transform: uppercase;
  color: #5C6BC0;
  font-family: "Nunito", sans-serif; }
  .heading-1--light {
    color: #f9f7f6; }
  .heading-1--dark {
    color: #54483A; }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--dark {
    color: #54483A; }

.heading-3 {
  font-size: 1.6rem;
  text-transform: uppercase; }

.heading-4 {
  font-size: 1.6rem;
  font-weight: 300; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #54483A;
    font-weight: 600;
    font-size: 1.6rem; }
  .heading-4--danger {
    color: orangered;
    font-weight: 300;
    font-size: 1.6rem; }

.mb-xs {
  margin-bottom: 1rem; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.my-xs {
  margin: 1rem 0; }

.my-sm {
  margin: 2rem 0; }

.my-md {
  margin: 3rem 0; }

.my-lg {
  margin: 4rem 0; }

.my-hg {
  margin: 8rem 0; }

.ma-xs {
  margin: 1rem; }

.ma-sm {
  margin: 2rem; }

.ma-md {
  margin: 3rem; }

.ma-lg {
  margin: 4rem; }

.ma-hg {
  margin: 8rem; }

.mx-xs {
  margin: 0 1rem; }

.label-danger {
  color: #fff;
  fill: #fff;
  background-color: orangered;
  border-radius: 0; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: center; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6;
  background-color: #f9f7f6; }

.container {
  display: grid;
  grid-template-columns: [start-sidebar] 6rem [end-sidebar start-content] 1fr [end-content];
  grid-template-rows: min-content min-content min-content; }

.btn {
  background-color: #5C6BC0;
  text-decoration: none;
  color: #fff;
  border: none;
  border-radius: 0;
  padding: 1.8rem 3rem;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all .2s; }
  .btn:hover {
    background-color: #3949AB; }
  .btn:focus {
    outline: none; }

.btn-rounded {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 2rem;
  display: inline-block;
  text-align: center;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  margin: 0.75rem 1rem;
  border: none;
  cursor: pointer;
  transition: all .4s; }
  .btn-rounded--white {
    background: #fff;
    color: #000; }
    .btn-rounded--white:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      background: #ebebeb;
      transition: all .4s; }
      .btn-rounded--white:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0; }
    .btn-rounded--white::after {
      background-color: #fff; }
  .btn-rounded--primary {
    background: #3949AB;
    color: #fff; }
    .btn-rounded--primary:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      background: #2f3c8c;
      transition: all .4s; }
      .btn-rounded--primary:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0; }
  .btn-rounded--danger {
    background: orangered;
    color: #fff; }
    .btn-rounded--danger:hover {
      transform: translateY(-3px);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      background: #d63a00;
      transition: all .4s; }
      .btn-rounded--danger:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0; }
  .btn-rounded--full {
    width: 90%; }
  .btn-rounded:active, .btn-rounded:focus {
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.news {
  grid-column: 2/ span 1;
  grid-row: 2/ span 1;
  text-align: center; }
  .news__container {
    padding: 0 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem; }

.card {
  display: grid;
  grid-template-rows: max-content max-content min-content;
  align-content: space-between; }
  .card__img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block; }
  .card__text {
    max-height: 7rem;
    overflow: scroll;
    /* Добавляем полосы прокрутки */ }

main-post__container {
  display: grid;
  grid-template-columns: repeat(8, 1fr); }

main-post__img2 {
  width: 100%; }

.sidebar {
  background: black;
  position: sticky;
  top: 0;
  grid-column: start-sidebar/ end-sidebar;
  grid-row: 1/-1; }

.header {
  background-image: linear-gradient(rgba(16, 29, 44, 0.8), rgba(92, 107, 192, 0.7)), url(../image/hockey4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
  grid-column: start-content/ end-content;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  align-content: center;
  align-items: center; }
  .header__text {
    grid-column: 2/ span 3;
    color: #fff; }
