.footer{
    background-color: #003 ;
    color: $color-grey-light-1;
    font-size: 2rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(3, min-content);
    grid-gap: 3rem;
    justify-items: center;

    &__copyright{
        grid-column: 2/ span 6;
        grid-row: 3/4;  
        font-size: 1.5rem;
        font-weight: 100;
        font-family: $font-display;
        padding: 3rem;

        &--2{
            text-align: center;
            font-size: 2rem;
            padding: 3rem;
        }
    }



    &__logo{
        grid-column: 2/ 8;
        grid-row: 2/3;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        // grid-column-gap: 6rem;
        justify-items: center;
        justify-content: center;

        & > div {
            transition: all .3s;
            padding: 3rem;
            &:hover {
                transition: all .3s;
                background-color: rgba($color-white, .05);
                transform: translateY(-.3rem);
            }
        }
    }

}


.logo__icon{
    width: 5rem;
    height: 5rem;
    fill: $color-grey-light-1;
}

.nav{
    list-style: none;

    grid-column: 2/8;
    grid-row: 1/2;  
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-top: 3rem;

    &__link,
    &__link:visited,
    &__link:link{
        font-size: 1.4rem;
        color: #fff;
        text-decoration: none;
        font-family: $font-display;
        text-transform: uppercase;
        text-align: center;
        padding: 1.5rem;
        display: block;
        transition: all .2s;
    }

    &__link:hover,
    &__link:active {
        background-color: rgba(#fff, .05);
        transform: translateY(-3px);
    }
}