.header{
    height: 70vh;
    background-image: linear-gradient(rgba($color-secondary, .8), rgba($color-primary, .7)), url(../image/hockey4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

    @media only screen and (max-width: $bp-medium){
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    @media only screen and (max-width: $bp-small){

    }

    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-content: center;
    align-items: center;
    &__text {
        grid-column: 2/ span 3;
        color: #fff;
    }

    @media only screen and (max-width: $bp-medium){
        height: 80vh;

        &__text {
            grid-column: 2/ span 5;
            color: #fff;
        }
    }
}

