.section-header{
    margin-bottom: 10rem;
    // background-color: $color-grey-200;
}

.section-offer{
    // background-color: $color-grey-200;
    text-align: center;
    height: 60rem;
}

.section-news{
    // background-color: $color-grey-200;
}
.section-reviews{
    margin: 0 auto;
    text-align: center;
    position: relative;
    margin-bottom: 10rem;
    // height: 50rem;
    // background-color: $color-grey-200;
}
.section-claim{
    // margin-bottom: 10rem;
}

.section-main-post{
    background-color: $color-grey-800;
}