.section-header{
    margin-bottom: 10rem;
}

.section-offer{
    background-color: $color-grey-200;
    text-align: center;
    height: 60rem;
}

.section-news{

}

.section-main-post{
    background-color: $color-grey-800;
}