.news{
    grid-column: 2/ span 1;
    grid-row: 2/ span 1;
    text-align: center;
    &__container{
        padding: 0 3rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        // grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        grid-gap: 3rem;

        @media only screen and (max-width: $bp-large){
            grid-template-columns: repeat(2, 1fr);
        }
        @media only screen and (max-width: $bp-small){
            grid-template-columns: repeat(1, 1fr);
        }
    }


}

.card{
    display: grid;
    grid-template-rows: max-content max-content min-content;
    align-content: space-between;
    box-shadow: 0 2rem 5rem rgba(#000, .1);

    &__img-container{
        position: relative;
    }
    
    &__img-container:hover:before{
        content: '';
        background: black;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
    }
    &__img-container:before{
        content: '';
        background: black;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.2;
        transition: all .4s;
    }

    &__img{
        width: 100%;
        height: 250px;
        object-fit: cover;
        display: block;
    }

    &__text{
        max-height: 7rem;
        overflow: scroll; /* Добавляем полосы прокрутки */
    }

}




.main-post{
    background-color: $color-grey-800;
    &__container{
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-gap: 3rem;
        padding: 0 3rem;
        // background-color: wheat;

        @media only screen and (max-width: $bp-medium){
            grid-template-rows: min-content min-content;
        }
    }
    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
    &__img-container{
        grid-column: 1/span 4;
        filter: brightness(70%);
        transition: all .2s;
        &:hover{
            filter: brightness(50%);
        }

    }
    &__text{
        padding: 1rem;
        display: grid;
        align-items: stretch ;
        grid-column: 5/span 4;
    }


    @media only screen and (max-width: $bp-medium){
        &__img{
            grid-column: 1/-1;
    
        }
        &__text{
            display: grid;
            align-items: stretch ;
            grid-column: 1/-1;
        }
    }

    .btn{
        align-self: center;
        justify-self: start;
    }

}