// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;





%heading{
    font-family: $font-display;
    font-weight: 400;

    &--light {color: $color-grey-light-1;}
    &--dark {color: $color-grey-dark-1;}
}
.heading-1 {
    @extend %heading;
    font-size: 4rem;
    text-transform: uppercase; 
    font-family: $font-primary;
    // color: $color-primary;
    display: inline-block;
    background-image: linear-gradient(to right , $color-primary-light, $color-primary-dark);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all 1s;

    &--light { color: $color-grey-light-1; }
    &--dark { color: $color-grey-dark-1; }
    &--animation{
        &:hover{
            transform: skewY(3deg) skewX(1deg) scale(1.05);
            text-shadow: .5rem 1rem 2rem rgba($color-black, .2);  
            // background: red;
        }
    }

    // &:hover &--animation{
    //     // &--animation{
    //         transform: skewX(27deg) translateX(10rem);
    //     // }
    //     // 
    //     // transform: skewY(1deg) skewX(1deg) scale(1.01);
    //     // text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    // }
} 


.heading-2 {
    @extend %heading;
    font-size: 4rem;
    font-style: italic;
    line-height: 1;

    &--light { color: $color-grey-light-1; }
    &--dark { color: $color-grey-dark-1; }
}

.heading-3 {
    @extend %heading;
    font-size: 1.6rem;
    // text-transform: uppercase;
    &--light { color: $color-grey-light-1; }
    &--dark { color: $color-grey-dark-1; }
}

.heading-4 {
    @extend %heading;
    font-size: 1.6rem;
    font-weight: 300;
    // color: red;

    &--light {color: $color-grey-light-1;}
    &--dark {
        color: $color-grey-dark-1;
        font-weight: 600;
        font-size: 1.6rem;

    }
    &--danger { 
        color: $color-danger;
        font-weight: 300;
        font-size: 1.6rem;
    }
}






.mb-xs {margin-bottom: 1rem;}
.mb-sm {margin-bottom: 2rem;}
.mb-md {margin-bottom: 3rem;}
.mb-lg {margin-bottom: 4rem;}
.mb-hg {margin-bottom: 8rem;}

.my-xs {margin: 1rem 0;}
.my-sm {margin: 2rem 0;}
.my-md {margin: 3rem 0;}
.my-lg {margin: 4rem 0;}
.my-hg {margin: 8rem 0;}

.ma-xs {margin: 1rem;}
.ma-sm {margin: 2rem;}
.ma-md {margin: 3rem;}
.ma-lg {margin: 4rem;}
.ma-hg {margin: 8rem;}

.mx-xs {margin: 0 1rem;}

.label-danger {
    color: $color-white;
    fill: $color-white;
    background-color: $color-danger;
    border-radius: 0;
}

.text-center{text-align: center;}
.text-left{text-align: left !important;}
.text-right{text-align: center;}